*{
  margin: 0;
  box-sizing: border-box;
}
.header {
  position: sticky;
  top: 0px;
  width: 100%;
  display: flex;
  color: #191919;
  
}
.nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;

  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #232020;
}
nav {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  align-items: center;
  
}

.nav{
 
  background-color: #191919;
}
.signup{
  background-color: #f70404;
  padding:.5rem 1rem;
  border-radius: 5px;
}
#action{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

}
a{
  text-decoration: none;
  font-weight: bold;
  color: #f8f8f8;
}
a:hover{
  text-transform: scale(1.1);
  transform: scale(1.1);
}
.logo-container {
  display: flex;
  align-items: center;
  background-color: #191919;
  border-radius: 5px;
  border: 1px solid #232020;
 
}

.logo {
  width: 10rem;
  height: 10rem;
}





