*{
  margin: 0;
  box-sizing: border-box;
}
.main{
  line-height: 1.4rem;
}
.header {
  position: sticky;
  top: 0px;
  width: 100%;
  display: flex;
  color: #191919;
  z-index: 1000;
  margin-bottom: 2rem;
  
}
h1, h2, h3, h4{
  font-family: 'DM Sans', sans-serif;
  color: #f8f8f8;

}
.-odds{
  color: #f47a7a;
  font-weight: bold;
}
.--odds{
  color: rgb(114, 232, 114);
  font-weight: bold;
}
.betmo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.betmo p{
  text-decoration: none;
  font-weight: bold;
  color: #f8f8f8;
  font-size: 1.5rem;
}
.betmo p:hover{
  text-transform: scale(1.1);
  transform: scale(1.1);
} 
.nav {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 100%;
  position: relative;
}
.links {
  display: none;
  background: none;
  border: none;
  color: #f8f8f8;
  background-color: #191919;
  font-size: 1.5rem;
  font-weight: bold;
}
.links:hover {
  text-transform: scale(1.1);
  transform: scale(1.1);
}
nav {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  left: 2.5rem;
}

.nav{
 
  background-color: #191919;
}
.signup{
  background-color: #f70404;
  padding:.5rem 1rem;
  border-radius: 5px;
}
#action{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

}
a{
  text-decoration: none;
  font-weight: bold;
  color: #f8f8f8;
  font-size: 1.5rem;
}
@media (max-width: 875px) {
  header a{
    font-size: 1.2rem;
  }
  .betmo p{
    font-size: 1.2rem;
  }
  
}
.bestplays a{
  font-size: 1rem;
}
a:hover{
  text-transform: scale(1.1);
  transform: scale(1.1);
}
.logocontainer {
  display: flex;
  align-items: center;
  background-color: #191919;
  border-radius: 5px;
 
}


.logo {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.about {
  text-align: center;
  padding: 1.5rem;;
  border-radius: 5px;
  width: 60%;
  color: #f8f8f8;
  background-color: #111111ea;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.9);
}

.container {
  display: flex;
  gap: 2rem;
  width: 90%;
}
.left {
  padding: 1.5rem;
  background-color: #4c4c4ce4;
  border-radius: 5px;
}

.containleft{
  flex: 2;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

}
.right{
  flex: 1;
  padding: 1.5rem;
  padding-top: 0rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (max-width: 1100px) {
  .containleft {
    flex: 1;
    padding-left: 1rem;
    padding-right: 1rem;
    
  }

 
}

.articlesgrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding-top: 1rem;
}
@media (max-width: 1100px) {
  .articlesgrid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .container{
    width: 100%;
    gap: 0rem;
  }
  .right{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.article {
  background-color: #111111;
  color: #f8f8f8;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.left h3{
  text-align: center;
  color: #f8f8f8;
  background-color: #1a1a1a;
  padding: .5rem;
  border-radius: 5px;
}

.article h4 {
 font-size: 1.2rem;
}
.articleimage {
  object-fit: cover;
  object-position: center;
  aspect-ratio: 5/6;
  width: 100%;
}
.article p {
  font-size: 0.9rem;
}

.about h2{
  padding-bottom: 1rem;
  font-size: 2rem;
}
.join{
  color: #f70404;
}
.things{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.join:hover{
  text-transform: scale(1.5);
  transform: scale(1.5);
  
}
.bestplays {
  flex: 0;
  padding: 1.5rem;
  background-color: #4c4c4ce4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
  color: #f8f8f8;
}
.bestbets{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.bestplays li{
 
}
.bestplays h3{
  text-align: center;
  color: #f8f8f8;
}
.nbagames h3{
  text-align: center;
  color: #f8f8f8;
}
.topbets {
  background-color: green;
  border-radius: 5px;
  padding-bottom: .5rem;
  padding-top: .5rem;
}
.bestplays li{
  background-color: #1a1a1a;
  padding: .5rem;
  border-radius: 5px;
  color: green;
}
.gamelist{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-y: scroll;
  align-items: center;
  height: 400px;

}
.gamelist div{
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  text-align: center;
  padding: 1rem;
}
.nbagames{
  color:#f8f8f8;
  padding: 1.5rem;
  background-color:#4c4c4ce4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
  max-height: 800px;
}
.nbagames h3{
  padding: .5rem;
  border-radius: 5px;
  position: sticky;
  top: 0;
  background-color: green;

}
.nbagames h3:hover{
  text-transform: scale(1.1);
  transform: scale(1.1);
}
.nbagames h4{
  font-size: 1.1rem;
  width: 50%;
  background-color: #1a1a1a;
  padding: .5rem;
  border-radius: 5px;
  text-decoration: wavy;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  

}

.odds{
  width: 80%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.odds .nbagames{
  max-height: 800px;
  overflow: hidden;
  
}
.oddslist{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: space-evenly;
  height: 600px;
  padding-left: 0;


}
.oddslist div{
  flex-basis: 345px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;
  align-items: center;
  text-align: center;
  
}
.findplaycontainer{
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
}
.findplay{
  object-fit: cover;
  width: 25%;

}
@media (max-width: 1100px) {
  #ilia {
    display: none;
  }
  #college{
    display: none;
  }
  .findplay{
    width: 50%;
  }

}
@media (max-width: 1050px) {
  .odds{
    width: 90%;
  }
  .oddslist div{
    flex-basis: 250px;
  }
  .oddslist{
    height: 800px;
  }
}

.oddslink{
  background-color: #f70404;
  padding:.8rem 1rem;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: bold;

}
@media (max-width: 810px) {
  .container {
    flex-direction: column;
    gap: 2rem;
    width: 90%;
  }
  
  .articlesgrid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .gamelist{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: space-evenly;
    height: 800px;
    padding-left: 0;
  }
  .gamelist div{
    flex-basis: 250px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
    align-items: center;
    text-align: center;
    
  }
}
#secondlogo{
  width: 15rem;
  height: 15rem;
}
@media (max-width: 810px){
  #secondlogo{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
  }
  .about h2{
    padding-top: 1rem;
  }
}
@media (max-width: 680px) {
  .articlesgrid{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow-x: scroll;
  }
  .articlesgrid div{
    flex-basis: 250px;
    flex-shrink: 0;
  }
}
@media (max-width: 500px) {
  .articlesgrid div{
    flex-basis: 170px;
  }
}
@media(max-width: 810px){
  .things{
    font-size: 1.2rem;
  }
  .about h2{
    font-size: 1.5rem;
  }
  #secondlogo{
    width: 12rem;
    height: 12rem;
  }
  .links {
    display: block;
    font-size: 1.2rem;
    position: relative;
    left: 2rem;

  }
  nav {
    display: none;
    flex-direction: column;
    padding: 1rem;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: #191919f9;
  }
  nav.open {
    display: flex;
  }
  h1{
    font-size: 2rem;
  }
  #action{
    position: relative;
    left: 1rem;
    gap: .8rem;
  }


}
@media (max-width: 500px) {
  .nav {
    padding: 0.5rem 1rem;
  }
  .betmo h1 {
    font-size: 1.2rem;
  }
  a {
    font-size: 1rem;
  }
  #action{
    gap: 0rem;
    position: relative;
    left: 0rem;
  }
  #action a {
    font-size: 1rem;
    padding: 0.3rem 0.7rem;
  }
  .links{
    position: relative;
    left: 2.5rem;
    font-size: 1rem;
  }
  nav{
    position: absolute;
    top: 55px;
  }

}
@media (max-width: 450px) {
  #secondlogo{
    width: 10rem;
    height: 10rem;
  }
}
@media (max-width: 650px) {
  #lamar{
    display: none;
  }
  .findplay{
    width: 100%;
  }
}
@media (max-width: 420px) {
  .links{
    position: relative;
    left: .5rem;
  }
}
.topbets:hover{
  text-transform: scale(1.1);
  transform: scale(1.1);
}
.footer {
  background-color: #4c4c4ce4;
  color: #f8f8f8;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
}
.footer a {
  text-decoration: none;
  margin: 0 10px;
  background-color: #1a1a1a;
  padding: .4rem;
  border-radius: 5px;
  font-size: 1.2rem;
}

.footerlinks{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer a:hover {
  text-transform: scale(1.1);
  transform: scale(1.1);
}
.footerinfo{
  background-color: #f70404;
  padding: .5rem;
  border-radius: 5px;
  font-weight: bold;
}
.containfooter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
@media (max-width: 520px) {
  .footer a{
    font-size: .8rem;
  }
}
.warning{
  background-color: #4c4c4ce4;
  color: #f8f8f8;
  width: 90%;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}
.warning h2{
  font-size: 2rem;
  padding: 1rem;
  background-color: #f70404;
  border-radius: 5px;
}
.warning p{
  font-size: 1rem;
  background-color: #1a1a1a;
  padding: .5rem;;
  border-radius: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.warning ul{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  text-align: left;
}
.phone{
  color: #f70404;
  font-weight: bold;
}
.phone:hover{
  text-decoration: underline;
}
.warning ul li{
  background-color: #1a1a1a;
  padding: 1rem;
  border-radius: 5px;
}
.warning ul a{
  font-size: 1.2rem;
}
.warning ul li a:hover{
  text-decoration: underline;
  background-color: #f70404;
  border-radius: 5px;
  padding: .2rem;
}
@media (max-width: 810px) {
  .warning{
    width: 90%;
  }
}