*{
  margin: 0;
  box-sizing: border-box;
}
.header {
  position: sticky;
  top: 0px;
  width: 100%;
  display: flex;
  color: #191919;
  
}
.nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;

  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #232020;
}
nav {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  align-items: center;
  
}

.nav{
 
  background-color: #191919;
}
.signup{
  background-color: #f70404;
  padding:.5rem 1rem;
  border-radius: 5px;
}
#action{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

}
a{
  text-decoration: none;
  font-weight: bold;
  color: #f8f8f8;
}
a:hover{
  text-transform: scale(1.1);
  transform: scale(1.1);
}
.logo-container {
  display: flex;
  align-items: center;
  background-color: #191919;
  border-radius: 5px;
  border: 1px solid #232020;
 
}

.logo {
  width: 10rem;
  height: 10rem;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.about {
  text-align: center;
  padding: 1.5rem;;
  border-radius: 5px;
  width: 60%;
  color: #f8f8f8;
  background-color: #111111ea;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.9);
}

.container {
  display: flex;
  gap: 2rem;
  width: 90%;
}

.left {
  flex: 2;
  padding: 1.5rem;
  background-color: #969696e4;
  border-radius: 5px;
}

.articlesgrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding-top: 1rem;
}

.article {
  background-color: #111111;
  color: #f8f8f8;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.left h3{
  text-align: center;
  color: #f8f8f8;
}

.article h4 {
 font-size: 1.2rem;
}
.articleimage {
  object-fit: cover;
  object-position: center;
  aspect-ratio: 5/6;
  width: 100%;
}
.article p {
  font-size: 0.9rem;
}

.about h2{
  padding-bottom: 1rem;
  font-size: 3rem;
}
.join{
  color: #f70404;
}
.things{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.join:hover{
  text-transform: scale(1.5);
  transform: scale(1.5);
}
.bestplays {
  flex: 1;
  padding: 1.5rem;
  background-color: #969696e4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
}
.bestplays li{
  list-style-type: square;
}
.bestplays h3{
  text-align: center;
  color: #f8f8f8;
}
