.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0a0a0ade;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: scroll;
  }
  .image {
    max-height: 800px;
    margin: auto;
    

  }
  .image img{
    max-height: 600px;
    max-width: 600px;
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid #1f1f1f;
   }
  
  .modalcontent {
    background: #f8f8f8;
    padding: 2rem;
    border-radius: 5px;
    width: 80%;
    height: 80%;
    text-align: center;
    color: #111111;
    max-height: 800px;
    position: relative;
    overflow-y: scroll;
  }
  
  .closebutton {
    position: absolute;
    top: 0rem;
    right: 0rem;
    background: transparent;
    border: none;
    font-size: 2.5rem;
    color: #111111;
  }
  .closebutton:hover {
    transform: scale(1.1);
  }
  .modalcontent h3 {
    color: #1f1f1f;
    padding-top: 1rem;
    padding-bottom: .5rem;
  }
  .modalcontent p {
    color: #1f1f1f;
    padding-bottom: 1rem;
    line-height: 1.4rem;

  }

  